/*
	common
*/
.cursor_white_font{color: white;line-height: 26px;text-decoration: none;}
.common_border{border: 1px solid #e1e1e1;}
.align_left{text-align: left;}
.align_right{text-align: right;}
.outline_default{outline: 0 none;}
.width50{width: 50%;}
.width25{width: 25%;}
.width60{width: 60px;}
.width40percent{width: 40%;}
.width10percent{width: 10%;}
.width25percent{width: 25%;}
.height115_div{height: 115px;}
.height227_div{height: 227px;}
.margin_left5{margin-left: 5px;}
.margin_left8{margin-left: 8px;}
.height227{height: 227px;}
.font_size18{font-size: 18px;}
.font_size14_weight500{font-size: 14px;font-weight: 500;}
.income_num{color: #FB7823 !important;}
.color08c{color: #08c;}
.color666{color: #666;}
.color4d4d4d{color: #4d4d4d;}
.margin_left10{margin-left: 10px;}
.float_left{float: left;}
.float_right{float: right;}
.display_inline{display: inline;}
.position_relative_top2_div{position: relative;top: 2px;}
.small_font{font: 12px/1.5 tahoma,arial,Hiragino Sans GB,Microsoft Yahei,\5b8b\4f53}
.vertical_align_middle_img{vertical-align: middle;}
.vertical_align_text_top_img{vertical-align: text-top;}
.btn_li{float: left;color: #777;line-height: 22px;height: 22px;border: 1px solid #afafaf;background-color: #f3f3f3;padding: 0 12px;font-size: 12px;border-radius: 2px;cursor: pointer;text-align: center;vertical-align: middle;font-weight: 700;margin-right: 7px;}
